{% extends 'base.html' %}
{% load widget_tweaks %}


<html>

    <head>


       {% block head %}

    <title>Update</title>

    {% endblock %}



	</head>

	<body>

    {% block body %}

    <style media="screen">
      #navigation {
      margin-top: 90px;

      }

    </style>

    <div class = "container">

            <div class = "row">
                                <nav class="col-md-3"  style="  margin-top: 90px;">

                                  <ul class = "nav flex-column">
                                                    <li class = "nav-item"> <a class = "nav-link"  href = "{% url 'nesting:nesting'%}"><small>Create Identity</small> </a></li>
                                                   <li class = "nav-item"><a class = "nav-link" href = "{% url 'nesting:Identity_nest_list'%}" ><small>See  Identity </small></a></li>
                                    </ul>

                                </nav>

            <main class = "col-md-7"  style="  margin-top: 180px;">

                      <form method = 'post' novalidate>

                        {% csrf_token %}

                        {% if form.non_field_errors %}
                                      <div class="alert alert-danger" role="alert">
                                        {% for error in form.non_field_errors %}
                                          {{ error }}
                                        {% endfor %}
                                      </div>
                          {% endif %}




                                    <div class = "form-row">

                                      <div class = "form-group col-md-6">

                                        {{form.NIS.errors}}
                                        {{form.NIS}}

                                      </div>

                                      <div class = "form-group col-md-6">

                                        {{form.contact.errors}}
                                        {{form.contact}}

                                      </div>

                                    </div>

                                    <div class = "form-row">

                                      <div class = "form-group col-md-6">

                                        {{form.first_Name.errors}}
                                        {{form.first_Name}}

                                      </div>

                                      <div class = "form-group col-md-6">

                                        {{form.last_Name.errors}}
                                        {{form.last_Name}}

                                      </div>

                                    </div>

                                    <div class = "form-row">

                                      <div class = "form-group col-md-6">

                                        {{form.location.errors}}
                                        {{form.location}}

                                      </div>



                                        <div class = "form-group col-md-6">

                                          {{form.date_of_birth.errors}}
                                          {{form.date_of_birth}}

                                        </div>

                                    </div>


<button class = "btn-primary btn-large btn ">Submit</button>

 </form>

</div>
</main>
            </div>

    {% endblock %}



  </body>

  </html>
